// background color:
$bgColor: #e5e5e5;

// font colors:
$mainFontColor: #55545a;
$lighterFontColor: #7e7c82;

// card color:
$productCardColor: #f5f4f1;

// tag box colors:
$blueBoxColor: #cfe8ff;
$redBoxColor: #ffd5d4;

// tag font colors:
$blueBoxFontColor: #1d58ce;
$redBoxFontColor: #b00020;
