@use "./abstracts/fonts";
@use "./abstracts/colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: fonts.$font-size;
}

body {
  background-color: colors.$bgColor;
  color: colors.$mainFontColor;
  font-family: fonts.$font-family;
}
