@use "./abstracts/fonts";
@use "./abstracts/colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: fonts.$font-size;
}

body {
  align-items: center;
  background-color: colors.$bgColor;
  color: colors.$mainFontColor;
  display: flex;
  font-family: fonts.$font-family;
  justify-content: center;
  min-height: 100vh;
}
